sudo: required

language: scala

scala:
  - 2.11.6

services:
  - docker

env:
  global:
    - TERM=dumb

notifications:
  email: false

install: true

before_install:
  - ./tools/travis/setup.sh
  
script:
  - ./tools/travis/build.sh
